{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block subtitle %}
    Membership List
{% endblock %}


{% block content %}
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="display-4 text-primary font-weight-bold">Memberhship </h1>
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-md-6 col-lg-10">
            <form method="get">
                <div class="form-group">
                    <input type="text" name="search" class="form-control form-control-md"
                           placeholder="Search by username..." value="{{ search_query }}">
                </div>
        </div>
        <div class="col-md-2 ml-auto">
            <button class="btn btn-primary btn-md btn-block" type="submit">
                <i class="fa fa-search"></i> Search
            </button>
            </form>
        </div>
    </div>
    <div class="text-right mb-3">
        <a href="{% url 'membership:membership_add' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add New Membership
        </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            {% if memberships %}
                                <thead class="border-bottom">
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Membership Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for membership in memberships %}
                                    <tr>
                                        <td>{{ membership.pk }}</td>
                                        <td>{{ membership.user.username }}</td>
                                        <td>{{ membership.get_membership_type_display }}</td>
                                        <td>{{ membership.start_date }}</td>
                                        <td>{{ membership.end_date }}</td>
                                        <td>
                                            {% if membership.is_active %}
                                                <b class="text-success"><i class="fa fa-check-circle"></i> Active</b>
                                            {% else %}
                                                <b class="text-danger"><i class="fa fa-times-circle"></i> Expired</b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'membership:membership_edit' membership.pk %}"
                                               class="text-decoration-none">
                                                <i class="mdi mdi-pencil icon-sm"></i> Edit
                                            </a>
                                            <a href="{% url 'membership:membership_delete' membership.pk %}"
                                               class="text-decoration-none text-danger ml-2">
                                                <i class="mdi mdi-delete icon-sm"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <th class="text-danger text-center">No memberships found.</th>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&search={{ search_query|urlencode }}">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.previous_page_number }}&search={{ search_query|urlencode }}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item disabled">
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}
                </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}&search={{ search_query|urlencode }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginator.num_pages }}&search={{ search_query|urlencode }}">Last
                            &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}



{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
