{% extends 'base.html' %}

{% block content %}
<div class="row mb-5">
    <div class="col-12 text-center">
        <h1 class="display-4 text-danger font-weight-bold">Delete Fee</h1>
        <p class="lead">Are you sure you want to delete the fee for <b>{{ fee.user.username }}</b>?</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'fee_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}