{% extends 'base.html' %}
{% block title %}Delete Trainer{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="page-wrapper">
        <div class="page-content">
            <div class="container-fluid">

                <!-- Alert to warn the user -->
                <div class="row justify-content-center mt-3">
                    <div class="col-md-6">
                        <div class="alert alert-danger" role="alert">
                            <strong>Note:</strong> Deleting this trainer will also remove all related data.
                        </div>

                        <!-- Card to show trainer details and confirm deletion -->
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <h5 class="ms-2">Are you sure you want to delete trainer "{{ trainer.name }}"?</h5>
                                <p class="ms-2 text-danger">This action cannot be undone.</p>

                                <!-- Form to confirm deletion -->
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <a href="{% url 'tranier:trainer_list' %}">
                                        <div class="btn btn-secondary me-2"><i class="fa fa-arrow-left me-2"></i> &nbsp;Go Back</div>
                                    </a>
                                    <input class="btn btn-danger float-end" type="submit" value="Confirm Deletion">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
