{% extends 'website/base.html' %}
{% load static %}
{% block content %}

    <!-- Banner -->
    <section class="xs-light-bg position-relative" data-scrollax-parent="true" id="home">
        <div class="container xs-clips-wraper">
            <div class="xs-clips">
                <img src="{% static 'assets/images/shape/banner-light-clips.png' %}" alt="clip">
            </div>
        </div>

        <!-- Start Carousel -->
        <div class="owl-carousel owl-theme xs-slider-light-owl">
            <div class="xs-slide-inner">
                <div class="container">
                    <div class="banner-inner-wraper">
                        <h2 class="xs-before-text" data-text="FITN">Fitn</h2>
                        <div class="xs-light-slide-img3 xs-fadeInRight">
                            <img src="{% static 'assets/images/slider-light/slide-3.png' %}" alt="shape">
                        </div>
                        <h2 class="xs-after-text" data-text="ESS">ess</h2>
                    </div>
                </div>
                <div class="xs-shape xs-banner-light-left" data-scrollax="properties: { translateY: '-250px' }"
                     style="background-image: url(assets/images/shape/banner-light-left.png);"></div>
                <img src="{% static 'assets/images/shape/banner-light-clips-right.png' %}" class="banner_right_shape"
                     data-scrollax="properties: { translateY: '250px' }" alt="">
            </div><!-- .xs-slide-inner -->

            <div class="xs-slide-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="xs-light-slide2 xs-fadeInLeft">
                                <h1 class="xs-banner-title xs-line">Strong Body, <span>Sharp Mind</span></h1>
                                <p>Unlock your full potential with a fitness journey that strengthens both body and
                                    mind. Commit to a healthier, stronger you!</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="xs-light-slide-img2">
                                <div class="xs-water-mark xs-slideInDown">Body</div>
                                <img class="xs-fadeInRight" src="{% static 'assets/images/slider-light/slide-2.png' %}"
                                     alt="image">
                            </div>
                        </div>
                    </div>
                </div><!-- .container -->
                <div class="xs-shape xs-banner-light-left" data-scrollax="properties: { translateY: '-250px' }"
                     style="background-image: url(assets/images/shape/banner-light-left.png);"></div>
                <div class="xs-shape xs-banner-light-right" data-scrollax="properties: { translateY: '250px' }"
                     style="background-image: url(assets/images/shape/banner-light-right.png);"></div>
            </div><!-- .xs-slide-inner -->

            <div class="xs-slide-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="xs-light-slide1 xs-fadeInLeft">
                                <h1 class="xs-banner-title xs-line">No Excuses, <span>Just Results</span></h1>
                                <p>Push your limits, burn calories, and transform your body. Stay dedicated, stay
                                    disciplined, and achieve your fitness goals.</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="xs-light-slide-img1 xs-fadeInRight">
                                <img src="{% static 'assets/images/slider-light/slide-1.png' %}" alt="images">
                            </div>
                        </div>
                    </div>
                </div><!-- .container -->
                <div class="xs-shape xs-banner-light-left" data-scrollax="properties: { translateY: '-250px' }"
                     style="background-image: url(assets/images/shape/banner-light-left.png);"></div>
                <div class="xs-shape xs-banner-light-right" data-scrollax="properties: { translateY: '250px' }"
                     style="background-image: url(assets/images/shape/banner-light-right.png);"></div>
            </div><!-- .xs-slide-inner -->
        </div><!-- .xs-home-light-owl End -->
    </section><!-- Banner End -->

    <!-- About Us -->
    <section class="xs-section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="xs-section-heading text-center">
                        <h2>Why Join <span>Us</span></h2>
                        <p>We are dedicated to creating a welcoming and empowering fitness environment for
                            everyone—regardless of experience level. Join us to build strength, confidence, and a
                            healthier lifestyle in a supportive, harassment-free community</p>
                    </div>
                </div>
            </div><!-- .row END -->

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="xs-about-us" onmouseover="new Vivus('servicesvg', {duration: 50});">
                        <object id="servicesvg" type="image/svg+xml"
                                data="{% static 'assets/images/services/01.svg' %}"></object>
                        <h3>TONS OF EQUIPMENT</h3>
                        <p>
                            We offer a wide range of top-quality gym equipment designed to target every muscle group.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="xs-about-us" onmouseover="new Vivus('servicesvg2', {duration: 50});">
                        <object id="servicesvg2" type="image/svg+xml"
                                data="{% static 'assets/images/services/02.svg' %}"></object>
                        <h3>ROWS OF CARDIO</h3>
                        <p>
                            Get your heart racing with our extensive selection of cardio machines.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="xs-about-us" onmouseover="new Vivus('servicesvg3', {duration: 50});">
                        <object id="servicesvg3" type="image/svg+xml"
                                data="{% static 'assets/images/services/03.svg' %}"></object>
                        <h3>HEART PUMPING</h3>
                        <p>
                            Feel the energy and push your limits with high-intensity workouts, motivated and engaged
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="xs-about-us" onmouseover="new Vivus('servicesvg4', {duration: 50});">
                        <object id="servicesvg4" type="image/svg+xml"
                                data="{% static 'assets/images/services/04.svg' %}"></object>
                        <h3>Fuel Your Fitness</h3>
                        <p>
                            Achieving optimal health and fitness starts with the right foundation, to unlocking your
                            full potential.
                        </p>
                    </div>
                </div>
            </div><!-- .row END -->
        </div><!-- .container END -->
    </section><!-- About Us end -->

    <!-- Classes Light -->
    <section class="xs-light-bg xs-section-padding xs-pb-sm" data-scrollax-parent="true" id="training">
        <div class="xs-team-wraper">
            <div class="xs-shape xs-team-shape" data-scrollax="properties: { translateY: '-100%' }"
                 style="background-image: url(assets/images/shape/dot.png);"></div>
            <div class="xs-shape xs-team-right-shape" data-scrollax="properties: { translateY: '100%' }"
                 style="background-image: url(assets/images/shape/memphis.png);"></div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="xs-section-heading text-center">
                            <h2>Our <span>Classes</span></h2>
                            <p>World is committed to making participation in the event a harassment free experience for
                                everyone, regardless of level of experience.</p>
                        </div>
                    </div>
                </div><!-- .row END -->

                <div class="xs-classes-light">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="xs-service">
                                <img src="{% static 'assets/images/classes/classes-item-1.jpg' %}" alt="case">
                                <div class="xs-overlay d-flex align-items-center">
                                    <div class="xs-service-content">
                                        <div class="xs-icon-wraper">
                                            <i class="icon icon-dumble"></i>
                                        </div>
                                        <h3>Unleash Your Strength</h3>
                                        <p>We offer a variety of high-quality equipment designed to target every muscle
                                            and help you build strength efficiently.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xs-service">
                                <img src="{% static 'assets/images/classes/classes-item-2.jpg' %}" alt="case">
                                <div class="xs-overlay d-flex align-items-center">
                                    <div class="xs-service-content">
                                        <div class="xs-icon-wraper">
                                            <i class="icon icon-equipment"></i>
                                        </div>
                                        <h3>Zumba Fitness</h3>
                                        <p>Join us for high-energy Zumba sessions that combine fun and fitness, helping
                                            you tone your body while having a blast..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xs-service">
                                <img src="{% static 'assets/images/classes/classes-item-3.jpg' %}" alt="case">
                                <div class="xs-overlay d-flex align-items-center">
                                    <div class="xs-service-content">
                                        <div class="xs-icon-wraper">
                                            <i class="icon icon-yoga"></i>
                                        </div>
                                        <h3>Fusion Yoga</h3>
                                        <p>Experience the perfect blend of strength and flexibility with our Fusion Yoga
                                            classes, designed to enhance your body and mind.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xs-service">
                                <img src="{% static 'assets/images/classes/classes-item-4.jpg' %}" alt="case">
                                <div class="xs-overlay d-flex align-items-center">
                                    <div class="xs-service-content">
                                        <div class="xs-icon-wraper">
                                            <i class="icon icon-heart"></i>
                                        </div>
                                        <h3>Meditation</h3>
                                        <p>Find your inner peace with our guided meditation sessions, designed to calm
                                            the mind and promote overall well-being.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xs-service">
                                <img src="{% static 'assets/images/classes/classes-item-5.jpg' %}" alt="case">
                                <div class="xs-overlay d-flex align-items-center">
                                    <div class="xs-service-content">
                                        <div class="xs-icon-wraper">
                                            <i class="icon icon-climbing"></i>
                                        </div>
                                        <h3>Climbing Induction</h3>
                                        <p>Discover the thrill of rock climbing with our expert-led induction classes,
                                            designed to build strength, endurance, and confidence.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="xs-service">
                                <img src="{% static 'assets/images/classes/classes-item-6.jpg' %}" alt="case">
                                <div class="xs-overlay d-flex align-items-center">
                                    <div class="xs-service-content">
                                        <div class="xs-icon-wraper">
                                            <i class="icon icon-punch"></i>
                                        </div>
                                        <h3>punch Boxing</h3>
                                        <p>Unleash your power and improve your fitness with our dynamic Punch Boxing
                                            sessions, designed to boost strength, endurance, and coordination..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .xs-classes-light END -->
            </div><!-- .container END -->
        </div>
    </section><!-- Classes Light end -->

    <!-- Class Schedule -->
    <section class="xs-section-padding xs-class-schedule-light parallaxie" data-scrollax-parent="true" id="schedule">
        <div class="xs-water-mark" data-scrollax="properties: { translateY: '-250px' }">GYMvast</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="xs-section-heading text-center">
                        <h2>Class <span>Schedule</span></h2>
                        <p>World is committed to making participation in the event a harassment free experience for
                            everyone, regardless of level of experience.</p>
                    </div>
                </div>
            </div><!-- .row END -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive xs-schedule-table-light">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="xs-calendar-index"><i class="icon icon-calendar1"></i></th>
                                <th scope="col"><span>Monday</span></th>
                                <th scope="col"><span>Tuesday</span></th>
                                <th scope="col"><span>Wednesday</span></th>
                                <th scope="col"><span>Thursday</span></th>
                                <th scope="col"><span>Friday</span></th>
                                <th scope="col"><span>Saturday</span></th>
                                <th scope="col"><span>Sunday</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">10.00</th>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-1">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-2">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-3">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">12.00</th>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-1">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-3">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">15.00</th>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-2">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-2">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">17.00</th>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-3">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-1">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">19.00</th>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-3">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-1">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="xs-schedule-info xs-tbg-2">
                                        <h3>Relax</h3>
                                        <h4>Yoga</h4>
                                        <p>12.00 - 13.00</p>
                                        <span>Jonas Blue</span>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- .row END -->
        </div><!-- .container END -->
    </section><!-- Class Schedule end -->

    <!-- Help Light -->
    <section class="xs-section-padding-lg xs-bg-cover parallaxie"
             style="background-image: url({% static 'assets/images/help-light-img.jpg' %})">
        <div class="container">
            <div class="xs-help xs-help-light">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="xs-section-heading">
                            <h2>HELPING YOU to GO <br/>
                                <span>Since 2010</span>
                            </h2>
                        </div>
                        <p>We believe in fostering a supportive and inclusive environment where everyone, regardless of
                            experience, gender, identity, or ability, can reach their full potential. We are dedicated
                            to providing a harassment-free space that encourages personal growth, fitness, and
                            well-being for all. Join us and experience a community that values respect, empowerment, and
                            progress.</p>
                        <a href="#" class="btn btn-primary">Join Classes <span class="icon icon-plus"></span></a>
                    </div>
                </div>
            </div><!-- .xs-help END -->
        </div><!-- .container END -->
    </section><!-- Help Light end -->

    <!-- Team -->
    <section class="xs-section-padding" data-scrollax-parent="true">
        <div class="xs-team-wraper">
            <div class="xs-shape" data-scrollax="properties: { translateY: '-250px' }"
                 style="background-image: url(assets/images/shape/dot.png);"></div>
            <div class="xs-shape xs-team-right-shape" data-scrollax="properties: { translateY: '250px' }"
                 style="background-image: url(assets/images/shape/memphis.png);"></div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="xs-section-heading text-center">
                            <h2>Our <span>Expert Trainers</span></h2>
                            <p>Our team of certified trainers is dedicated to guiding you on your fitness journey.
                                Whether you're a beginner or an experienced athlete, we provide personalized training
                                and support to help you achieve your goals in a welcoming and inclusive environment.</p>
                        </div>
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="xs-team">
                            <div class="xs-team-thumb">
                                <img src="{% static 'assets/images/team/team-1.jpg' %}" alt="Jhon Statham">
                                <div class="xs-team-overlay d-flex align-items-center">
                                    <ul class="list-unstyled xs-team-share">
                                        <li>
                                            <a href="#"><i class="icon icon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xs-team-content">
                                <h3>
                                    <a href="trainer-details.html">Jhon Statham</a>
                                </h3>
                                <p>Gym Trainer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="xs-team">
                            <div class="xs-team-thumb">
                                <img src="{% static 'assets/images/team/team-2.jpg' %}" alt="David William">
                                <div class="xs-team-overlay d-flex align-items-center">
                                    <ul class="list-unstyled xs-team-share">
                                        <li>
                                            <a href="#"><i class="icon icon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xs-team-content">
                                <h3>
                                    <a href="trainer-details.html">David William</a>
                                </h3>
                                <p>MMA Trainer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="xs-team">
                            <div class="xs-team-thumb">
                                <img src="{% static 'assets/images/team/team-3.jpg' %}" alt="Robert Dany">
                                <div class="xs-team-overlay d-flex align-items-center">
                                    <ul class="list-unstyled xs-team-share">
                                        <li>
                                            <a href="#"><i class="icon icon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xs-team-content">
                                <h3>
                                    <a href="trainer-details.html">Robert Dany</a>
                                </h3>
                                <p>Heavy-Weight Trainer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="xs-team">
                            <div class="xs-team-thumb">
                                <img src="{% static 'assets/images/team/team-4.jpg' %}" alt="Ana Mariea">
                                <div class="xs-team-overlay d-flex align-items-center">
                                    <ul class="list-unstyled xs-team-share">
                                        <li>
                                            <a href="#"><i class="icon icon-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon icon-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="xs-team-content">
                                <h3>
                                    <a href="trainer-details.html">Ana Mariea</a>
                                </h3>
                                <p>Light-Weight Trainer</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </div><!-- .xs-team-wraper -->
    </section><!-- Team end -->

    <!-- BMI -->
    <section class="xs-pt-50 xs-pb-sm parallaxie"
             style="background-image: url({% static 'assets/images/bmi-bg.png' %});">
        <div class="container">
            <div class="xs-bmi">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="xs-colummn-heading2">
                            <h2>BMI <span>Chart</span></h2>
                        </div>
                        <div class="table-responsive xs-bmi-table">
                            <table class="table table-bordered">
                                <caption>Body Metabolic Rate / energy expenditure per unit time</caption>
                                <thead>
                                <tr>
                                    <th scope="col">BMI</th>
                                    <th scope="col">WEIGHT STATUS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Below 18.5</td>
                                    <td>Underweight</td>
                                </tr>
                                <tr>
                                    <td>18.5 - 24.9</td>
                                    <td>Healthy</td>
                                </tr>
                                <tr>
                                    <td>25.0 - 29.9</td>
                                    <td>Overweight</td>
                                </tr>
                                <tr>
                                    <td>30 and Above</td>
                                    <td>Obese</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="xs-colummn-heading2">
                            <h2>Calculate <span>Your BMI</span></h2>
                            <p>Understanding your Body Mass Index (BMI) is an essential step in tracking your fitness
                                progress. Our tool helps you assess your current health status so you can set realistic
                                goals and optimize your workouts.</p>
                        </div>
                        <form action="#" class="xs-form xs-form-dark">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="heightWrap" class="form-group xs-form-anim">
                                        <label class="input-label" for="xs-height">Height / cm</label>
                                        <input type="number" min="1" max="500" id="xs-height" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="weightWrap" class="form-group xs-form-anim">
                                        <label class="input-label" for="xs-weight">Weight / kg</label>
                                        <input type="number" min="1" max="500" id="xs-weight" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group xs-form-anim">
                                        <label class="input-label" for="xs-age">Age</label>
                                        <input type="number" min="1" max="200" id="xs-age" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 align-self-end">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio1" name="sex" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio1">Male</label>
                                    </div>

                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio2" name="sex" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2">Female</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio3" name="sex" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio3">Other</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group xs-mt-20">
                                        <button type="submit" id="calculate" class="btn btn-primary">Calculate</button>
                                    </div>
                                    <div id="xs-bmi-info" class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- .row END -->
            </div><!-- .xs-bmi END -->
        </div><!-- .container END -->
    </section><!-- BMI end -->

    <!-- Shop -->
    <section class="xs-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="xs-section-heading text-center">
                        <h2>Fitness <span>Shop</span></h2>
                        <p>World is committed to making participation in the event a harassment free experience for
                            everyone, regardless of level of experience.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="xs-shop">
                        <div class="xs-shop-thumb">
                            <img src="{% static 'assets/images/shop/shop-1.png' %}" alt="shop">
                        </div>
                        <div class="xs-shop-inner">
                            <a href="#" class="btn btn-primary">Buy Now</a>
                            <div class="xs-badge-wraper">
                                <span class="xs-price-badge">$75</span>
                            </div>
                            <h3><a href="#">Multi Vitamins</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="xs-shop">
                        <div class="xs-shop-thumb">
                            <img src="{% static 'assets/images/shop/shop-2.png' %}" alt="shop">
                        </div>
                        <div class="xs-shop-inner">
                            <a href="#" class="btn btn-primary">Buy Now</a>
                            <div class="xs-badge-wraper">
                                <span class="xs-price-badge">$75</span>
                            </div>
                            <h3><a href="#">Protien ATHLETIC</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="xs-shop">
                        <div class="xs-shop-thumb">
                            <img src="{% static 'assets/images/shop/shop-3.png' %}" alt="shop">
                        </div>
                        <div class="xs-shop-inner">
                            <a href="#" class="btn btn-primary">Buy Now</a>
                            <div class="xs-badge-wraper">
                                <span class="xs-price-badge">$75</span>
                            </div>
                            <h3><a href="#">Suppolement Caps</a></h3>
                        </div>
                    </div>
                </div>
            </div><!-- .row END -->
        </div><!-- .container END -->
    </section><!-- Shop end -->




    <section class="position-relative xs-section-padding xs-bg-cover parallaxie parallaxie"
             style="background-image: url({% static 'assets/images/pricing/pricing_img.jpg' %});"
             data-scrollax-parent="true"
             id="price">
        <div class="xs-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="xs-section-heading2 text-center">
                        <h2>Pricing <span>Plan</span></h2>
                        <p>World is committed to making participation in the event a harassment free experience for
                            everyone, regardless of level of experience.</p>
                    </div>
                </div>
            </div><!-- .row END -->
        </div><!-- .row END -->
        <div class="position-relative">
            <div class="xs-shape xs-pricing-shape" style="background-image: url(assets/images/shape/dots.png);"
                 data-scrollax="properties: { translateY: '-250px' }"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="xs-pricing" style="background-image: url(assets/images/pricing/pricing_bg.png);">
                        <h3>Basic Plan</h3>
                        <p>
                            <sup>$</sup>
                            <span>49</span>
                            <sub>/mo</sub>
                        </p>
                        <ul class="list-unstyled">
                            <li>Get Free WiFi</li>
                            <li>Month to Month</li>
                            <li>No Time Restrictions</li>
                            <li>Gym and Cardio</li>
                            <li>Service Locker Rooms</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Enroll Now</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="xs-pricing" style="background-image: url(assets/images/pricing/pricing_bg.png);">
                        <h3>Advance</h3>
                        <p>
                            <sup>$</sup>
                            <span>69</span>
                            <sub>/mo</sub>
                        </p>
                        <ul class="list-unstyled">
                            <li>Get Free WiFi</li>
                            <li>Month to Month</li>
                            <li>No Time Restrictions</li>
                            <li>Gym and Cardio</li>
                            <li>Service Locker Rooms</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Enroll Now</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="xs-pricing" style="background-image: url(assets/images/pricing/pricing_bg.png);">
                        <h3>Premium</h3>
                        <p>
                            <sup>$</sup>
                            <span>99</span>
                            <sub>/mo</sub>
                        </p>
                        <ul class="list-unstyled">
                            <li>Get Free WiFi</li>
                            <li>Month to Month</li>
                            <li>No Time Restrictions</li>
                            <li>Gym and Cardio</li>
                            <li>Service Locker Rooms</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Enroll Now</a>
                    </div>
                </div>
            </div><!-- .row END -->
        </div><!-- .container END -->
    </section>
    <!-- Contact -->
    <section class="position-relative xs-section-padding xs-light-bg" id="contact">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-lg-7 col-md-8 mx-auto">
                        <div class="xs-section-heading text-center">
                            <h2>Send <span>Message</span></h2>
                            <p>World is committed to making participation in the event harass ment free on experience
                                for everyone, regardless.</p>
                        </div>
                    </div>
                </div>
                <form action="#" class="xs-form xs-contact-form" id="xs-contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group xs-form-anim mb-4">
                                <label class="input-label" for="xs-name">Your name</label>
                                <input type="text" id="xs-name" class="form-control">
                            </div>
                            <div class="form-group xs-form-anim">
                                <label class="input-label" for="xs-email">Your email address</label>
                                <input type="text" id="xs-email" class="form-control">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group xs-form-anim ">
                                <label class="input-label" for="xs-phone">Mobile number</label>
                                <input type="text" id="xs-phone" class="form-control">
                            </div>
                            <div class="form-group xs-form-anim xs-message-box">
                                <label class="input-label" for="xs-message">Your massage</label>
                                <textarea id="xs-message" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="form-text text-muted xs-mt-50">We do not sell, share, trade your information with
                                anyone for any reason. We won’t give spam mails.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group xs-mt-60 text-right">
                                <button type="submit" id="xs_contact_submit" class="btn btn-primary">Submit Now <span
                                        class="icon icon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- .xs-contact-form END -->
        </div><!-- .container END -->
    </section><!-- Contact end -->

    <!-- Brand -->
    <div class="xs-purple-bg xs-section-padding-xs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="owl-carousel owl-theme xs-brand-owl">
                        <div class="item">
                            <img src="{% static 'assets/images/brand/brand1.png' %}" alt="brand">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/images/brand/brand2.png' %}" alt="brand">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/images/brand/brand3.png' %}" alt="brand">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/images/brand/brand4.png' %}" alt="brand">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/images/brand/brand5.png' %}" alt="brand">
                        </div>
                    </div>
                </div>
            </div><!-- .row END -->
        </div><!-- .container END -->
    </div><!-- Brand end -->

{% endblock %}
